.cell {
    border: 2px solid #000;
    position: relative;
}

.redbox {
    border: 2px solid red;
}

.greenbox {
    border: 2px solid green;
}

.unexecuted {
    color: gray;
}

.stale {
    color: gray;
    border: 2px solid gray;
}

output {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    white-space: pre;
}

pre {
    margin-left: 50px;
}

code{
    display: block;
    padding: 10px;
}

button {
    padding:0.2em 1.0em;
    margin:0 0.3em 0.3em 0;
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-size: small;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    border: 1px black;
}

.cellButton {
    position: absolute;
    top: 0px;
    left: -50px;
}

.modButton {
    position: absolute;
    top: 25px;
    left: -50px;
}

button:hover{
    background-color:#4095c6;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
}

body {
    width: 960px;
    margin: 0 auto;
    color: #333;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}
  
h1 {
    font-size: 3em;
    font-weight: 300;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
}

section {
    margin-bottom: 3em;
}

section p {
    text-align: justify;
}

svg {
    overflow: hidden;
    margin: 0 auto;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}