.cell {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 50px;
    border: 2px solid #000;
    position: relative;
}

.stale {
    border: 2px solid red;
}

.unexecuted {
    color: gray;
}

.cellButton {
    position: absolute;
    top: 10px;
    left: -50px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(119, 13, 13);
    border-radius: 50%;
    display: inline-block;
}

body {
width: 960px;
margin: 0 auto;
color: #333;
font-weight: 300;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}
  
h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  margin-bottom: 3em;
}

section p {
  text-align: justify;
}

svg {
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 auto;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}